.card-quadrado-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: #444;
    border-radius: 20%;
    color: #FFF;
}

.card-quadrado-container > img {
    width: 150px;
    height: 100px;
    border-radius: 40%;
}

.card-quadrado-container h4 {
    margin-bottom: 15px;
}

.card-quadrado-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}